div {
    border: 3px solid black;
    padding: 30px;
	background: #7d7dba
   }
 td: {
	color: #666699
}
 td:hover  {
    background: #9999CC; 
	color:#5d21f4;
	
  }



body {
	background-color: #393959
}


tr: {
	opacity: .7
	}





